<style>
*
{
	padding: 0;
	margin: 0;
}

body,html
{
	font-size: 1em;
	line-height: 1.65em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #34495e;
	background-color: #ffffff;
}

html
{
	height: 100%;
}

body
{
	padding: 2em 2.5em 1em 20em;
}

header
{
	padding: 2.3em 2em 2em 2em;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 13.5em;
	background-color: #F5F5F5;
	color: #ffffff;
}

#content
{
	display: block;
	width: 100%;
}

footer
{
	padding: 1em 0 2.5em;
	font-size: .8em;
	line-height: 1.5em;
	color: #95a5a6;
}

article
{
	border-bottom: .1em #bdc3c7 solid;
	padding-bottom: 1.7em;
	max-width: 56em;
}

h4,h5,h6,hr,p
{
	margin-top: .9em;
	margin-bottom: .9em;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

h1
{
	font-size: 2em;
	line-height: 1.2em;
}

iframe,img
{
	max-width: 100%;
}

a
{
	text-decoration: none;
	color: #7DB779;
}

a:hover
{
	text-decoration: underline;
}

strong
{
	font-weight: 700;
}

blockquote
{
	border-left: .4em solid #bdc3c7;
	padding-left: 1.2em;
	font-size: 1.3em;
}

hr
{
	border: 0;
	height: 1px;
	background: #bdc3c7;
}

ol,ul
{
	margin-left: 3em;
}

code
{
	font-size: .9em;
	background: #f5f2f0;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre
{
	line-height: 2em;
	padding: .2em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
}

input
{
	font-size: 1em;
	padding: .3em;
}

header h1
{
	font-size: 1.8em;
	margin-top: 1.2em;
	margin-bottom: .6em;
}

header a
{
	color: #555F67;
}

header h1 a:hover
{
	text-decoration: none;
}

header #logo img
{
	height: 6em;
	border: 0;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#follow-icons
{
	font-size: .8em;
	margin-top: -.6em;
	margin-bottom: 1.5em;
}

#follow-icons a
{
	color: #555F67;
	margin-right: 0.5em;
}

#follow-icons span
{
	vertical-align: top;
	margin-left: -.15em;
	margin-right: -.15em;
}

#follow-icons span .fa-stack-1x
{
	font-size: 1.05em;
	line-height: 1.9em;
}

header h6
{
	margin-top: .5em;
}

article span.post-stamp
{
	color: #888;
}

h1.post-title
{
	margin-top: .35em;
	margin-bottom: .6em;
}

h3.post-title
{
	margin-top: .4em;
	padding-bottom: .9em;
	border-bottom: 1px solid #bdc3c7;
	color: #7DB779;
}

.sitetaglist
{
	list-style-type: none;
	display: block;
	margin-left: 0;
	text-align: center;
	margin-bottom: 1.25em;
	font-size: 0.8em;
}

.sitetaglist li
{
	display: inline;
}

.sitetaglisttitle
{
	margin-bottom: .3em;
}

h3.post-title>time
{
	font-family: "Lato",sans-serif;
	font-weight: 300!important;
	font-size: .9em;
}

.post-title .feature-star
{
	font-size: .9em;
}

.feature-star,.separator
{
	color: #ccc;
}

.taglist { color: #ccc }

.taglist a {
    background-color: #7DB779;
    color: #fff;
    display: inline-block;
    line-height: 1.5em;
    padding: .3em .6em;
    vertical-align: 20%;
    font-size: .5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-radius: .25em;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
}

#social-bar
{
	margin-top: 1.5em;
	background-color: #bdc3c7;
	padding: .5em;
}

.pagination
{
	margin-bottom: 1em;
}

footer a
{
	font-weight: 300;
	color: #95a5a6;
	text-decoration: underline;
}

footer a:hover
{
	color: #7f8c8d;
	text-decoration: none;
}

.ch-search
{
	display: inline-block;
	position: relative;
	margin: 0;
}

.ch-search:before
{
	content: "\f002";
	position: absolute;
	top: 0;
	left: 0;
	width: 1.87em;
	line-height: 2.5em;
	text-align: center;
	font-family: FontAwesome;
	font-size: 0.87em;
	color: #ffffff;
}

.ch-search-field::-moz-focus-inner
{
	border: 0;
	padding: 0;
}

.ch-search-field::-webkit-search-cancel-button,.ch-search-field::-webkit-search-decoration
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ch-search-field::-ms-clear
{
	display: none;
}

.ch-search-field::-moz-placeholder
{
	opacity: 1;
}

.ch-search-field
{
	font-family: "Oswald","Lato",sans-serif;
	color: #ecf0f1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 11.25em;
	height: 1.87em;
	padding: 0 0 0 1.87em;
	border: 0;
	background: rgba(0,0,0,0);
	transition: all linear .2s;
	-o-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-webkit-transition: all linear .2s;
	vertical-align: middle;
}

.ch-search-field:-ms-input-placeholder
{
	color: #E0FFDD!important;
}

.ch-search-field::-moz-placeholder
{
	color: #E0FFDD;
}

.ch-search-field::-webkit-input-placeholder
{
	color: #E0FFDD;
}

.ch-search-field:focus
{
	outline: 0;
}

.ch-search-field:focus,.ch-search.ch-active .ch-search-field
{
	width: 11.25em;
}

.gs-image-box,.gcsc-branding,.gsc-above-wrapper-area,.gsc-cursor-box,.gsc-url-bottom,.gsc-thumbnail,.gs-per-result-labels, .gsc-url-top
{
	display: none!important;
	visibility: hidden!important;
}

.gsc-table-result, .gsc-thumbnail-inside
{
	padding-left: 0px!important;
}

.gsc-control-cse,.gsc-results
{
	font: inherit!important;
	background: inherit!important;
	border: inherit!important;
	padding: inherit!important;
	margin: inherit!important;
}

.gsc-result
{
	margin-top: 1em!important;
	border: inherit!important;
	background: inherit!important;
	padding: inherit!important;
}

.gs-title, .gs-title b
{
	font-family: 'Roboto Slab', serif!important;
	font-size: 1.1em!important;
	color: #5BBE57!important;
	text-decoration: none!important;
	height: inherit!important;
	overflow: inherit!important;
}

.gs-snippet
{
	color: inherit!important;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em!important;
	height: inherit!important;
	overflow: inherit!important;
}

@media only screen and (min-width:1281px)
{
	body,html
	{
		font-size: 1.1em;
	};
}

@media only screen and (max-width:800px)
{
	body
	{
		padding: 0;
	}

	header
	{
		border-right: 0;
		border-bottom: 1px #bdc3c7 solid;
		position: relative;
		height: auto;
		width: auto;
		text-align: center;
		padding-bottom: 1em;
	}

	#content
	{
		margin-left: 0;
		padding: 2em 2em 1em;
		width: auto;
	}

	footer
	{
		padding: 0 2.5em 2em;
	};
}

@media only screen and (max-width:31.25em)
{
	#content,header
	{
		padding: 1.2em 1.2em .6em;
	}

	footer
	{
		padding: 0 1.5em 1.2em;
	}

	ol,ul
	{
		margin-left: 2em;
	};
}

.section
{
	clear: both;
	padding: 0;
	margin: 0;
}

.col
{
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child
{
	margin-left: 0;
}

.group:before,.group:after
{
	content: "";
	display: table;
}

.group:after
{
	clear: both;
}

.group
{
	zoom: 1;
}

.span_3_of_3
{
	width: 100%;
}

.span_2_of_3
{
	width: 66.13%;
}

.span_1_of_3
{
	width: 32.26%;
}

@media only screen and (max-width: 480px)
{
	.col
	{
		margin: 1% 0;
	}

	.span_3_of_3,.span_2_of_3,.span_1_of_3
	{
		width: 100%;
	};
}

@media only screen and (max-height: 550px)
{
	.sitetaglist, .sitetaglisttitle
	{
		display: none;
		visibility: hidden;
	}
}
</style>
