<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta property="og:title" content="{{ if ne .URL "/" }} {{ .Title }} {{ end }}" />
        <meta property="og:site_name" content="{{ .Site.Title }}" />
        <meta property="og:url" content="{{ .Permalink }}" />

    {{ if .IsPage }}
        <meta property="og:type" content="article" />
        <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
        {{ range .Params.tags }}<meta property="og:article:tag" content="{{ . }}" />
        {{ end }}

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
        <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:description" content="{{ .Description }}" />
        <meta name="twitter:url" content="{{ .Permalink }}" />
		<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
    {{ else }}
        <meta property="og:type" content="website" />
    {{ end }}

        <title>{{ if ne .URL "/" }} {{ .Title }} {{ end }}</title>

    {{ if .Description }}
        <meta name="description" content="{{ .Description }}" />
    {{ else }}
        <meta name="description" content="{{ .Site.Params.description }}" />
    {{ end }}
        
        <meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}icons/apple-touch-icon-57x57.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}icons/apple-touch-icon-60x60.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}icons/apple-touch-icon-72x72.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}icons/apple-touch-icon-76x76.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}icons/apple-touch-icon-114x114.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}icons/apple-touch-icon-120x120.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}icons/apple-touch-icon-144x144.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}icons/apple-touch-icon-152x152.png?v=2bbOl9Rj3K">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}icons/apple-touch-icon-180x180.png?v=2bbOl9Rj3K">
		<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}icons/favicon-32x32.png?v=2bbOl9Rj3K" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}icons/favicon-194x194.png?v=2bbOl9Rj3K" sizes="194x194">
		<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}icons/favicon-96x96.png?v=2bbOl9Rj3K" sizes="96x96">
		<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}icons/android-chrome-192x192.png?v=2bbOl9Rj3K" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}icons/favicon-16x16.png?v=2bbOl9Rj3K" sizes="16x16">
		<link rel="manifest" href="{{ .Site.BaseURL }}icons/manifest.json?v=2bbOl9Rj3K">
		<link rel="mask-icon" href="{{ .Site.BaseURL }}icons/safari-pinned-tab.svg?v=2bbOl9Rj3K" color="#5bbe57">
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}icons/favicon.ico?v=2bbOl9Rj3K">
		<meta name="apple-mobile-web-app-title" content="ping.flenny">
		<meta name="application-name" content="ping.flenny">
		<meta name="msapplication-TileColor" content="#5bbe57">
		<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}icons/mstile-144x144.png?v=2bbOl9Rj3K">
		<meta name="msapplication-config" content="{{ .Site.BaseURL }}icons/browserconfig.xml?v=2bbOl9Rj3K">
		<meta name="theme-color" content="#5bbe57">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->  

    {{ if ne .URL "/" }}
        <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{if .IsNode}}
        <link href="{{.RSSLink}}" rel="alternate" type="application/rss+xml" title="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
    {{end}}
        <link rel="canonical" href="{{ .Permalink }}" />

    {{ if .IsPage }}
    <script type="application/ld+json">
    { 
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "{{ .Title }}",
        "author": {
            "@type": "Person",
            "name": "http://profiles.google.com/{{ .Site.Params.gplus }}?rel=author"
        },
        "datePublished": "{{ .Date.Format "2006-01-02" }}",
        "description": "{{ .Description }}",
        "wordCount": {{ .WordCount }}
    }
    </script>
	
    {{ end }}

    {{ partial "criticalpath.html" . }}
    </head>
    <body>
        <header id="header">
            <a id="logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}avatar.png" alt="{{ .Site.Title }}" /></a>
            <h1><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>

            {{ partial "follow.html" . }}
            <!--{{ partial "navigation.html" . }}
            {{ partial "tags.html" . }}
            {{ partial "search.html" . }}-->
            
        </header>