"@type": "Person",
"name": "{{ .Site.Author.name }}",
"birthDate": "{{ .Site.Author.birthDate }}",
"email": "{{ .Site.Author.email }}",
"nationality": "{{ .Site.Author.nationality }}",
"gender": "{{ .Site.Author.gender }}",
"givenName": "{{ .Site.Author.givenName }}",
"familyName": "{{ .Site.Author.familyName }}",
"url": "{{ .Site.BaseURL }}",
"sameAs":
	[
		"https://twitter.com/{{ .Site.Params.twitter }}",
		"https://github.com/{{ .Site.Params.github }}",
		"https://plus.google.com/+{{ .Site.Params.gplus }}"
	]